// just simple import scss-partials
@import "../variables"; // подключаем переменные
@import "../mixins"; // подключаем миксины
@import "../fonts"; // подключаем шрифты
@import "../primeflex"; // подключаем flex-сетку из фреймворка PrimeNG
@import "../default"; // подключаем дефолтные стили

// Custom styles

.faq {
  margin-top: 120px;

  @include _1024 {
    margin-top: 90px;
  }

  @include _992 {
    margin-top: 70px;
  }

  @include _768 {
    margin-top: 50px;
  }

  @include _480 {
    margin-top: 35px;
  }

  // .container

  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  // .page-content

  .page-content {
    position: relative;
    overflow: hidden;

    @include _1280 {
      padding: 0 10px;
    }

    // .sidebar

    .sidebar {
      background-color: $bodyBgColor;
      position: relative;
      overflow: hidden;

      &.open {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }

      @include _768 {
        position: absolute;
        top: 10px;
        left: 0;
        width: 30%;
        height: 100%;
        z-index: 9;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);
        -webkit-transition: .3s;
        transition: .3s;
      }

      @include _560 {
        width: 100%;
      }

      // .sidebar__section

      &__section {
        padding-top: 34px;

        @include _768 {
          padding-top: 24px;
        }

        @include _560 {
          padding-top: 18px;
        }
      }
    }

    .btn {
      padding: 20px 80px;
      font-weight: bold;
      font-size: 18px;
      color: $primaryTextColor;
      background-color: $accentColor;
      border: none;
      border-radius: $btnBorderRadius;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      // .btn-request

      &-request {
        width: 100%;
      }

      @include _1280 {
        padding: 20px 60px;
      }

      @include _1170 {
        padding: 10px 40px;
      }

      @include _992 {
        padding: 10px 30px;
        font-size: 13px;
      }

      @include _360 {
        padding: 10px 20px;
        font-size: 16px;
      }
    }

    .section {

      // .section__title

      &__title {
        font-weight: 600;
        font-size: 10px;
        line-height: 13px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: $textPrimaryColor;
      }

      // .section__list

      &__list {}

      // .section__item

      &__item {
        margin-top: 12px;
        -webkit-transition: $transitionDuration;
        transition: $transitionDuration;

        &.open:hover .section__link::after {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }

        &.open:hover .dropdown__list {
          margin-top: 12px;
          height: 100%;
          opacity: 1;
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
        }

        .dropdown {

          // .dropdown__list

          &__list {
            height: 0;
            opacity: 0;
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            overflow: hidden;
            -webkit-transition: $transitionDuration;
            transition: $transitionDuration;
          }

          // .dropdown__item

          &__item {

            &+.dropdown__item {
              margin-top: 13px;

              @include _768 {
                margin-top: 5px;
              }
            }
          }

          // .dropdown__link

          &__link {
            font-size: 14px;
            line-height: 18px;
            color: $textDarkColor;
          }
        }

      }


      // .section__link

      &__link {
        display: block;
        position: relative;
        font-weight: 600;
        font-size: 24px;
        line-height: 18px;
        color: $textDarkColor;

        @include _768 {
          font-size: 18px;
        }

        &::before {
          content: '';
          position: absolute;
          bottom: 1px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 90%;
          border-bottom: 1px solid #DCE7EB;

          @include _992 {
            width: 85%;
          }

          @include _768 {
            width: 80%;
          }

          @include _560 {
            width: 95%;
          }

          @include _480 {
            width: 93%;
          }

          @include _360 {
            width: 90%;
          }
        }

        &::after {
          content: '';
          background: url('../../img/faq/arrow-down.svg');
          width: 10px;
          height: 6px;
          position: absolute;
          right: 3px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          -webkit-transition: $transitionDuration;
          transition: $transitionDuration;
        }
      }
    }

    // .page__title

    .page__title {
      margin-bottom: 32px;
      font-weight: bold;
      font-size: 48px;
      color: $textColor;

      @include _992 {
        font-size: 42px;
        text-align: center;
      }

      @include _768 {
        margin-bottom: 20px;
        font-size: 36px;
      }

      @include _560 {
        margin-bottom: 15px;
        font-size: 32px;
      }

      @include _480 {
        margin-bottom: 10px;
        font-size: 26px;
      }

      @include _360 {
        font-size: 24px;
      }
    }

    .question {

      // .question__card

      &__card {
        padding: 16px 25px 25px 25px;
        background-color: $contentBgColor;
        border-radius: $borderRadius;

        @include _768 {
          padding: 10px 20px 20px 20px;
        }

        &+.question__card {
          margin-top: 24px;

          @include _768 {
            margin-top: 16px;
          }
        }
      }

      // .question__title

      &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: $primaryColor;

        @include _768 {
          font-size: 20px;
        }

        @include _480 {
          font-size: 18px;
        }
      }

      // .question__info

      &__info {
        margin-top: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        @include _768 {
          margin-top: 8px;
        }

        // .info__item

        .info__item {
          position: relative;
          font-weight: 600;
          font-size: 10px;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: $textPrimaryColor;

          &+.info__item {
            margin-left: 30px;
          }

          &.date::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: -27%;
            width: 15px;
            height: 15px;
            background-image: url('../../img/faq/icon-date.svg');
            background-repeat: no-repeat;
          }

          &.location::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: -27%;
            width: 15px;
            height: 15px;
            background-image: url('../../img/faq/icon-location.svg');
            background-repeat: no-repeat;
          }

          // .answers__counter

          & .answers__counter {
            font-size: 16px;
            line-height: 20px;
            color: $socialIconsColor;
          }
        }
      }
    }
  }
}