/* source-sans-pro-regular - cyrillic_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/source-sans-pro-v13-cyrillic_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-regular.woff2") format("woff2"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-regular.woff") format("woff"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-regular.ttf") format("truetype"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-regular.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-600 - cyrillic_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/source-sans-pro-v13-cyrillic_latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-600.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-600.woff2") format("woff2"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-600.woff") format("woff"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-600.ttf") format("truetype"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-600.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-700 - cyrillic_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/source-sans-pro-v13-cyrillic_latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-700.woff2") format("woff2"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-700.woff") format("woff"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-700.ttf") format("truetype"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-700.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-900 - cyrillic_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/source-sans-pro-v13-cyrillic_latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-900.eot?#iefix") format("embedded-opentype"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-900.woff2") format("woff2"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-900.woff") format("woff"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-900.ttf") format("truetype"), url("../../fonts/source-sans-pro-v13-cyrillic_latin-900.svg#SourceSansPro") format("svg");
  /* Legacy iOS */
}

/************************************
 FLEX GRID "PrimeFlex" GRID STYLES
************************************/
.p-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5em;
  margin-left: -0.5em;
  margin-top: -0.5em;
}

.p-nogutter {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.p-nogutter > .p-col,
.p-nogutter > [class*="p-col-"] {
  padding: 0;
}

.p-dir-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.p-dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.p-dir-col-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.p-justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.p-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.p-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.p-justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.p-justify-even {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.p-align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.p-align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.p-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-align-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.p-align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.p-col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  padding: 0.5em;
}

.p-col-fixed {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0.5em;
}

.p-col-align-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.p-col-align-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.p-col-align-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.p-col-align-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.p-col-align-stretch {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.p-col-1,
.p-col-2,
.p-col-3,
.p-col-4,
.p-col-5,
.p-col-6,
.p-col-7,
.p-col-8,
.p-col-9,
.p-col-10,
.p-col-11,
.p-col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0.5em;
}

.p-col-1 {
  width: 8.3333%;
}

.p-col-2 {
  width: 16.6667%;
}

.p-col-3 {
  width: 25%;
}

.p-col-4 {
  width: 33.3333%;
}

.p-col-5 {
  width: 41.6667%;
}

.p-col-6 {
  width: 50%;
}

.p-col-7 {
  width: 58.3333%;
}

.p-col-8 {
  width: 66.6667%;
}

.p-col-9 {
  width: 75%;
}

.p-col-10 {
  width: 83.3333%;
}

.p-col-11 {
  width: 91.6667%;
}

.p-col-12 {
  width: 100%;
}

.p-offset-12 {
  margin-left: 100%;
}

.p-offset-11 {
  margin-left: 91.66666667%;
}

.p-offset-10 {
  margin-left: 83.33333333%;
}

.p-offset-9 {
  margin-left: 75%;
}

.p-offset-8 {
  margin-left: 66.66666667%;
}

.p-offset-7 {
  margin-left: 58.33333333%;
}

.p-offset-6 {
  margin-left: 50%;
}

.p-offset-5 {
  margin-left: 41.66666667%;
}

.p-offset-4 {
  margin-left: 33.33333333%;
}

.p-offset-3 {
  margin-left: 25%;
}

.p-offset-2 {
  margin-left: 16.66666667%;
}

.p-offset-1 {
  margin-left: 8.33333333%;
}

.p-offset-0 {
  margin-left: 0%;
}

.p-sm-1,
.p-sm-2,
.p-sm-3,
.p-sm-4,
.p-sm-5,
.p-sm-6,
.p-sm-7,
.p-sm-8,
.p-sm-9,
.p-sm-10,
.p-sm-11,
.p-sm-12,
.p-md-1,
.p-md-2,
.p-md-3,
.p-md-4,
.p-md-5,
.p-md-6,
.p-md-7,
.p-md-8,
.p-md-9,
.p-md-10,
.p-md-11,
.p-md-12,
.p-lg-1,
.p-lg-2,
.p-lg-3,
.p-lg-4,
.p-lg-5,
.p-lg-6,
.p-lg-7,
.p-lg-8,
.p-lg-9,
.p-lg-10,
.p-lg-11,
.p-lg-12,
.p-xl-1,
.p-xl-2,
.p-xl-3,
.p-xl-4,
.p-xl-5,
.p-xl-6,
.p-xl-7,
.p-xl-8,
.p-xl-9,
.p-xl-10,
.p-xl-11,
.p-xl-12 {
  padding: 0.5em;
}

.p-col-nogutter {
  padding: 0;
}

@media screen and (min-width: 576px) {
  .p-sm-1,
  .p-sm-2,
  .p-sm-3,
  .p-sm-4,
  .p-sm-5,
  .p-sm-6,
  .p-sm-7,
  .p-sm-8,
  .p-sm-9,
  .p-sm-10,
  .p-sm-11,
  .p-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .p-sm-1 {
    width: 8.3333%;
  }
  .p-sm-2 {
    width: 16.6667%;
  }
  .p-sm-3 {
    width: 25%;
  }
  .p-sm-4 {
    width: 33.3333%;
  }
  .p-sm-5 {
    width: 41.6667%;
  }
  .p-sm-6 {
    width: 50%;
  }
  .p-sm-7 {
    width: 58.3333%;
  }
  .p-sm-8 {
    width: 66.6667%;
  }
  .p-sm-9 {
    width: 75%;
  }
  .p-sm-10 {
    width: 83.3333%;
  }
  .p-sm-11 {
    width: 91.6667%;
  }
  .p-sm-12 {
    width: 100%;
  }
  .p-sm-offset-12 {
    margin-left: 100%;
  }
  .p-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .p-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .p-sm-offset-9 {
    margin-left: 75%;
  }
  .p-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .p-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .p-sm-offset-6 {
    margin-left: 50%;
  }
  .p-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .p-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .p-sm-offset-3 {
    margin-left: 25%;
  }
  .p-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .p-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .p-sm-offset-0 {
    margin-left: 0%;
  }
}

@media screen and (min-width: 768px) {
  .p-md-1,
  .p-md-2,
  .p-md-3,
  .p-md-4,
  .p-md-5,
  .p-md-6,
  .p-md-7,
  .p-md-8,
  .p-md-9,
  .p-md-10,
  .p-md-11,
  .p-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .p-md-1 {
    width: 8.3333%;
  }
  .p-md-2 {
    width: 16.6667%;
  }
  .p-md-3 {
    width: 25%;
  }
  .p-md-4 {
    width: 33.3333%;
  }
  .p-md-5 {
    width: 41.6667%;
  }
  .p-md-6 {
    width: 50%;
  }
  .p-md-7 {
    width: 58.3333%;
  }
  .p-md-8 {
    width: 66.6667%;
  }
  .p-md-9 {
    width: 75%;
  }
  .p-md-10 {
    width: 83.3333%;
  }
  .p-md-11 {
    width: 91.6667%;
  }
  .p-md-12 {
    width: 100%;
  }
  .p-md-offset-12 {
    margin-left: 100%;
  }
  .p-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .p-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .p-md-offset-9 {
    margin-left: 75%;
  }
  .p-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .p-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .p-md-offset-6 {
    margin-left: 50%;
  }
  .p-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .p-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .p-md-offset-3 {
    margin-left: 25%;
  }
  .p-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .p-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .p-md-offset-0 {
    margin-left: 0%;
  }
}

@media screen and (min-width: 992px) {
  .p-lg-1,
  .p-lg-2,
  .p-lg-3,
  .p-lg-4,
  .p-lg-5,
  .p-lg-6,
  .p-lg-7,
  .p-lg-8,
  .p-lg-9,
  .p-lg-10,
  .p-lg-11,
  .p-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .p-lg-1 {
    width: 8.3333%;
  }
  .p-lg-2 {
    width: 16.6667%;
  }
  .p-lg-3 {
    width: 25%;
  }
  .p-lg-4 {
    width: 33.3333%;
  }
  .p-lg-5 {
    width: 41.6667%;
  }
  .p-lg-6 {
    width: 50%;
  }
  .p-lg-7 {
    width: 58.3333%;
  }
  .p-lg-8 {
    width: 66.6667%;
  }
  .p-lg-9 {
    width: 75%;
  }
  .p-lg-10 {
    width: 83.3333%;
  }
  .p-lg-11 {
    width: 91.6667%;
  }
  .p-lg-12 {
    width: 100%;
  }
  .p-lg-offset-12 {
    margin-left: 100%;
  }
  .p-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .p-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .p-lg-offset-9 {
    margin-left: 75%;
  }
  .p-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .p-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .p-lg-offset-6 {
    margin-left: 50%;
  }
  .p-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .p-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .p-lg-offset-3 {
    margin-left: 25%;
  }
  .p-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .p-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .p-lg-offset-0 {
    margin-left: 0%;
  }
}

@media screen and (min-width: 1200px) {
  .p-xl-1,
  .p-xl-2,
  .p-xl-3,
  .p-xl-4,
  .p-xl-5,
  .p-xl-6,
  .p-xl-7,
  .p-xl-8,
  .p-xl-9,
  .p-xl-10,
  .p-xl-11,
  .p-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .p-xl-1 {
    width: 8.3333%;
  }
  .p-xl-2 {
    width: 16.6667%;
  }
  .p-xl-3 {
    width: 25%;
  }
  .p-xl-4 {
    width: 33.3333%;
  }
  .p-xl-5 {
    width: 41.6667%;
  }
  .p-xl-6 {
    width: 50%;
  }
  .p-xl-7 {
    width: 58.3333%;
  }
  .p-xl-8 {
    width: 66.6667%;
  }
  .p-xl-9 {
    width: 75%;
  }
  .p-xl-10 {
    width: 83.3333%;
  }
  .p-xl-11 {
    width: 91.6667%;
  }
  .p-xl-12 {
    width: 100%;
  }
  .p-xl-offset-12 {
    margin-left: 100%;
  }
  .p-xl-offset-11 {
    margin-left: 91.66666667%;
  }
  .p-xl-offset-10 {
    margin-left: 83.33333333%;
  }
  .p-xl-offset-9 {
    margin-left: 75%;
  }
  .p-xl-offset-8 {
    margin-left: 66.66666667%;
  }
  .p-xl-offset-7 {
    margin-left: 58.33333333%;
  }
  .p-xl-offset-6 {
    margin-left: 50%;
  }
  .p-xl-offset-5 {
    margin-left: 41.66666667%;
  }
  .p-xl-offset-4 {
    margin-left: 33.33333333%;
  }
  .p-xl-offset-3 {
    margin-left: 25%;
  }
  .p-xl-offset-2 {
    margin-left: 16.66666667%;
  }
  .p-xl-offset-1 {
    margin-left: 8.33333333%;
  }
  .p-xl-offset-0 {
    margin-left: 0%;
  }
}

/******************
 DEFAULT STYLES
******************/
html {
  font-size: 18px;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  color: #0C253D;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background-color: #FFFFFF;
}

*,
*::before,
*::after {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-moz-selection {
  background: #5B5D9C;
}

*::selection {
  background: #5B5D9C;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.services-category {
  margin-top: 120px;
}

@media all and (max-width: 1280px) {
  .services-category {
    padding: 0 5px;
  }
}

@media all and (max-width: 1024px) {
  .services-category {
    margin-top: 90px;
  }
}

@media all and (max-width: 992px) {
  .services-category {
    margin-top: 70px;
  }
}

@media all and (max-width: 768px) {
  .services-category {
    margin-top: 50px;
  }
}

@media all and (max-width: 480px) {
  .services-category {
    margin-top: 35px;
  }
}

.services-category .container {
  max-width: 1280px;
  margin: 0 auto;
}

.services-category .heading-box {
  margin-bottom: 60px;
}

@media all and (max-width: 1024px) {
  .services-category .heading-box {
    margin-bottom: 40px;
  }
}

@media all and (max-width: 992px) {
  .services-category .heading-box {
    margin-bottom: 30px;
  }
}

@media all and (max-width: 768px) {
  .services-category .heading-box {
    margin-bottom: 20px;
  }
}

.services-category .heading-box .heading-box__title {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #0C253D;
}

@media all and (max-width: 992px) {
  .services-category .heading-box .heading-box__title {
    font-size: 38px;
  }
}

@media all and (max-width: 560px) {
  .services-category .heading-box .heading-box__title {
    font-size: 30px;
  }
}

.services-category .page-content {
  position: relative;
}

.services-category .sidebar {
  background-color: #FFFFFF;
}

@media all and (max-width: 768px) {
  .services-category .sidebar {
    position: absolute;
    top: 10px;
    left: 0;
    width: 50%;
    height: 100%;
    padding-left: 10px;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media all and (max-width: 560px) {
  .services-category .sidebar {
    width: 100%;
  }
}

.services-category .sidebar.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.services-category .btn {
  padding: 20px 80px;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #E59746;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.services-category .btn:focus {
  outline: none;
}

.services-category .btn.btn-request {
  width: 100%;
}

@media all and (max-width: 1280px) {
  .services-category .btn {
    padding: 20px 60px;
  }
}

@media all and (max-width: 1170px) {
  .services-category .btn {
    padding: 10px 40px;
  }
}

@media all and (max-width: 992px) {
  .services-category .btn {
    padding: 10px 30px;
    font-size: 13px;
  }
}

@media all and (max-width: 360px) {
  .services-category .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}

.services-category .sidebar-section {
  margin-top: 24px;
}

.services-category .sidebar-section .section-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #969FC2;
}

.services-category .sidebar-section .tags-block {
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: -6px;
}

.services-category .sidebar-section .tags-item {
  padding: 8px 12px;
  margin: 6px;
  display: inline-block;
  font-size: 14px;
  text-transform: lowercase;
  white-space: nowrap;
  color: #4F4F4F;
  background-color: #F9F9FB;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services-category .sidebar-section .tags-item:hover, .services-category .sidebar-section .tags-item.active {
  color: #FFFFFF;
  background-color: #5569B8;
}

.services-category .sidebar-section .hours-item label {
  padding-left: 22px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
}

.services-category .sidebar-section .hours-item label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #5569B8;
  border-radius: 4px;
}

.services-category .sidebar-section .hours-item label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  width: 10px;
  height: 8px;
  background-image: url("../../img/services-category/checkmark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services-category .sidebar-section .hours-item input {
  display: none;
}

.services-category .sidebar-section .hours-item input:checked + label::after {
  opacity: 1;
}

.services-category .sidebar-section .hours-item + .hours-item {
  margin-top: 10px;
}

.services-category .sidebar-section .hours-item .services-counter {
  padding: 0 5px;
  font-size: 14px;
  line-height: 18px;
  color: #969FC2;
  display: inline-block;
  position: relative;
}

.services-category .sidebar-section .hours-item .services-counter::before {
  content: '(';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.services-category .sidebar-section .hours-item .services-counter::after {
  content: ')';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.services-category .results-info {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #969FC2;
}

.services-category .result-item {
  padding: 32px;
  background: #F9F9FB;
  border: 1px solid #DCE7EB;
  border-radius: 16px;
}

@media all and (max-width: 360px) {
  .services-category .result-item {
    padding: 10px;
  }
}

.services-category .result-item .item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media all and (max-width: 480px) {
  .services-category .result-item .item-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}

.services-category .result-item .item-header .company-logo {
  margin-right: 20px;
  display: block;
  min-width: 64px;
  max-width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 16px;
}

@media all and (max-width: 480px) {
  .services-category .result-item .item-header .company-logo {
    margin-right: 0;
  }
}

.services-category .result-item .item-header .company-content {
  max-width: 600px;
  margin-right: 20px;
}

@media all and (max-width: 480px) {
  .services-category .result-item .item-header .company-content {
    margin-right: 0;
  }
}

.services-category .result-item .item-header .company-content__title {
  font-weight: 600;
  font-size: 24px;
  color: #4F4F4F;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-header .company-content__title {
    font-size: 20px;
  }
}

.services-category .result-item .item-header .company-content__subtitle {
  margin-top: 8px;
  font-size: 20px;
  line-height: 25px;
  color: #969FC2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-header .company-content__subtitle {
    font-size: 14px;
  }
}

.services-category .result-item .item-header .company-info {
  margin-left: auto;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-header .company-info {
    margin-top: 10px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #828282;
  }
}

.services-category .result-item .item-header .company-info__type {
  max-width: 150px;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #969FC2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-header .company-info__type {
    font-size: 14px;
  }
}

.services-category .result-item .item-header .company-info__counter {
  max-width: 145px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #5569B8;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-header .company-info__counter {
    max-width: 200px;
  }
}

.services-category .result-item .item-content {
  margin-top: 32px;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-content {
    margin-top: 20px;
  }
}

.services-category .result-item .item-content .company-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-content .company-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.services-category .result-item .item-content .company-advantages .advantages-item {
  max-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-content .company-advantages .advantages-item {
    margin-left: 24px;
    max-width: 400px;
  }
}

@media all and (max-width: 480px) {
  .services-category .result-item .item-content .company-advantages .advantages-item {
    margin-left: 5px;
    max-width: 400px;
  }
}

.services-category .result-item .item-content .company-advantages .advantages-item + .advantages-item {
  margin-left: 24px;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-content .company-advantages .advantages-item + .advantages-item {
    margin-top: 5px;
  }
}

@media all and (max-width: 480px) {
  .services-category .result-item .item-content .company-advantages .advantages-item + .advantages-item {
    margin-left: 5px;
  }
}

.services-category .result-item .item-content .company-advantages .advantages-item__icon {
  min-width: 20px;
  min-height: 16px;
  margin-top: 4px;
  margin-right: 10px;
}

@media all and (max-width: 480px) {
  .services-category .result-item .item-content .company-advantages .advantages-item__icon {
    margin-right: 5px;
  }
}

.services-category .result-item .item-content .company-advantages .advantages-item__text {
  font-size: 18px;
  line-height: 23px;
  color: #0C253D;
}

@media all and (max-width: 480px) {
  .services-category .result-item .item-content .company-advantages .advantages-item__text {
    font-size: 14px;
  }
}

.services-category .result-item .item-content .company-skills {
  margin-top: 32px;
  padding: 5px 24px;
  background-color: #5B5D9C;
  -webkit-box-shadow: 0px 12px 24px rgba(62, 64, 132, 0.16);
  box-shadow: 0px 12px 24px rgba(62, 64, 132, 0.16);
  border-radius: 16px;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-content .company-skills {
    margin-top: 20px;
  }
}

@media all and (max-width: 560px) {
  .services-category .result-item .item-content .company-skills {
    padding-bottom: 15px;
  }
}

.services-category .result-item .item-content .company-skills .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #FFFFFF;
}

@media all and (max-width: 560px) {
  .services-category .result-item .item-content .company-skills .skill-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.services-category .result-item .item-content .company-skills .skill-item__text {
  max-width: 570px;
  padding: 12px 0 12px 0;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-content .company-skills .skill-item__text {
    font-size: 16px;
  }
}

.services-category .result-item .item-content .company-skills .skill-item__price {
  font-weight: bold;
  text-align: right;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-content .company-skills .skill-item__price {
    font-size: 14px;
  }
}

@media all and (max-width: 560px) {
  .services-category .result-item .item-content .company-skills .skill-item__price {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}

.services-category .result-item .item-content .company-skills .skill-item + .skill-item {
  border-top: 1px solid #E0E0E0;
}

.services-category .result-item .item-footer {
  margin-top: 32px;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-footer {
    margin-top: 20px;
  }
}

.services-category .result-item .item-footer > .btn-details {
  margin-right: 40px;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-footer > .btn-details {
    margin-right: 20px;
  }
}

@media all and (max-width: 560px) {
  .services-category .result-item .item-footer > .btn-details {
    width: 100%;
  }
}

.services-category .result-item .item-footer .link-details {
  font-weight: bold;
  line-height: 23px;
  color: #E59746;
}

@media all and (max-width: 992px) {
  .services-category .result-item .item-footer .link-details {
    margin-top: 20px;
    font-size: 14px;
  }
}

@media all and (max-width: 560px) {
  .services-category .result-item .item-footer .link-details {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

@media all and (max-width: 480px) {
  .services-category .result-item .item-footer .link-details {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */